/* line 9, ../sass/style_sass.scss */
.highlight {
  color: #ffffff;
  background-color: #79bc43;
  padding: 5px;
  font-weight: 700;
}

/* line 16, ../sass/style_sass.scss */
.indent {
  padding-left: 50px;
}

/* line 20, ../sass/style_sass.scss */
.indent_2 {
  padding-left: 100px;
}

/* line 24, ../sass/style_sass.scss */
.spacer {
  padding: 20px;
}

/* line 28, ../sass/style_sass.scss */
.spacer_2 {
  padding: 80px;
}

/* line 32, ../sass/style_sass.scss */
.declaration {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 40, ../sass/style_sass.scss */
.gif {
  width: 100%;
  th: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 49, ../sass/style_sass.scss */
footer {
  text-align: center;
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding-top: 20px;
  background-color: #ffffff;
}
/* line 59, ../sass/style_sass.scss */
footer li {
  padding: 0 25px;
}
/* line 62, ../sass/style_sass.scss */
footer a {
  color: #444444;
  text-decoration: none;
  transition: color .2s;
}
/* line 67, ../sass/style_sass.scss */
footer a:hover {
  color: #79bc43;
}

/* line 73, ../sass/style_sass.scss */
.mobile {
  display: none;
}

@media (max-width: 600px) {
  /* line 78, ../sass/style_sass.scss */
  .mobile {
    display: block;
  }

  /* line 81, ../sass/style_sass.scss */
  .desktop {
    display: none;
  }
}
/* line 86, ../sass/style_sass.scss */
.desktop {
  display: block;
}

@media (max-width: 1200px) {
  /* line 91, ../sass/style_sass.scss */
  #logo img {
    display: flex;
    justify-content: center;
    float: none;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
  }

  /* line 98, ../sass/style_sass.scss */
  div#navmenu {
    color: #444444;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 950px;
    margin: 0 auto;
    padding: 15px 0 60px;
  }
}
@media (max-width: 950px) {
  /* line 110, ../sass/style_sass.scss */
  #logo img {
    display: flex;
    justify-content: center;
    float: none;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
  }

  /* line 117, ../sass/style_sass.scss */
  div#navmenu {
    display: none;
  }
}
/* line 123, ../sass/style_sass.scss */
header li {
  right: 0;
  padding: 0 30px 10px;
}
/* line 127, ../sass/style_sass.scss */
header a {
  color: #444444;
  text-decoration: none;
  transition: color .2s;
}
/* line 132, ../sass/style_sass.scss */
header a:hover {
  color: #79bc43;
}

/* line 138, ../sass/style_sass.scss */
.header {
  text-align: center;
  margin-bottom: 8rem;
}
/* line 141, ../sass/style_sass.scss */
.header h2 {
  text-align: center;
}
/* line 144, ../sass/style_sass.scss */
.header p {
  text-align: left;
}

/* line 149, ../sass/style_sass.scss */
.title {
  text-align: center;
  font-weight: 700;
  color: #79bc43;
}

/* line 155, ../sass/style_sass.scss */
.top {
  margin-top: 4rem;
}

/* line 159, ../sass/style_sass.scss */
.bottom {
  margin-bottom: 6rem;
}

/* line 163, ../sass/style_sass.scss */
.center {
  display: flex;
  justify-content: center;
}

/* line 168, ../sass/style_sass.scss */
.center_text {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* line 174, ../sass/style_sass.scss */
.e4e_logo {
  width: 100%;
}

/* line 178, ../sass/style_sass.scss */
.e4e_logo_rev {
  width: 100%;
  background-color: #b4b4b4;
}

/* line 183, ../sass/style_sass.scss */
.dropbtn {
  background-color: #79bc43;
  color: #ffffff;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
/* line 189, ../sass/style_sass.scss */
.dropbtn:hover {
  background-color: #79bc43;
  color: #ffffff;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

/* line 198, ../sass/style_sass.scss */
.dropdown {
  transition: color .2s;
  position: relative;
  display: inline-block;
}
/* line 204, ../sass/style_sass.scss */
.dropdown:hover .dropdown-content {
  text-align: center;
  display: block;
}
/* line 208, ../sass/style_sass.scss */
.dropdown:hover .dropbtn {
  background-color: #79bc43;
}

/* line 214, ../sass/style_sass.scss */
.dropdown-content {
  transition: color .2s;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 #000000;
  z-index: 1;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
/* line 229, ../sass/style_sass.scss */
.dropdown-content a {
  text-align: center;
  color: #444444;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* line 235, ../sass/style_sass.scss */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #79bc43;
}

/* line 242, ../sass/style_sass.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
/* line 250, ../sass/style_sass.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 257, ../sass/style_sass.scss */
.column {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* line 264, ../sass/style_sass.scss */
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* line 275, ../sass/style_sass.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 283, ../sass/style_sass.scss */
.pace-inactive {
  display: none;
}

/* line 287, ../sass/style_sass.scss */
.pace .pace-progress {
  background: #79bc43;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* line 297, ../sass/style_sass.scss */
html {
  font-size: 62.5%;
}

/* line 301, ../sass/style_sass.scss */
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #444444;
}

/* line 309, ../sass/style_sass.scss */
::selection {
  color: white;
  background: #79bc43;
  /* WebKit/Blink Browsers */
}

/* line 315, ../sass/style_sass.scss */
::-moz-selection {
  color: white;
  background: #79bc43;
  /* Gecko Browsers */
}

/* line 321, ../sass/style_sass.scss */
h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 4.0rem;
  line-height: 1.2;
  font-weight: 700;
}

/* line 329, ../sass/style_sass.scss */
h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3.6rem;
  line-height: 1.25;
  font-weight: 700;
}

/* line 337, ../sass/style_sass.scss */
h3 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3.0rem;
  line-height: 1.3;
  font-weight: 500;
}

/* line 345, ../sass/style_sass.scss */
h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 1.35;
  font-weight: 500;
}

/* line 353, ../sass/style_sass.scss */
h5 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 300;
}

/* line 361, ../sass/style_sass.scss */
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
}

/* line 369, ../sass/style_sass.scss */
p {
  margin-top: 0;
  margin-bottom: 2.5rem;
}
/* line 372, ../sass/style_sass.scss */
p a {
  font-weight: 900 !important;
  color: #444444;
  text-decoration: none;
  transition: color .2s;
}
/* line 378, ../sass/style_sass.scss */
p a:hover {
  color: #79bc43;
}

/* line 384, ../sass/style_sass.scss */
a {
  color: #444444;
  text-decoration: none;
  transition: color .2s;
}
/* line 389, ../sass/style_sass.scss */
a:hover {
  color: #79bc43;
}

/* line 394, ../sass/style_sass.scss */
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
/* line 415, ../sass/style_sass.scss */
.button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 420, ../sass/style_sass.scss */
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 425, ../sass/style_sass.scss */
.button.button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 429, ../sass/style_sass.scss */
.button.button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 434, ../sass/style_sass.scss */
.button.button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 442, ../sass/style_sass.scss */
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
/* line 463, ../sass/style_sass.scss */
button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 468, ../sass/style_sass.scss */
button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 473, ../sass/style_sass.scss */
button.button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 477, ../sass/style_sass.scss */
button.button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 482, ../sass/style_sass.scss */
button.button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 490, ../sass/style_sass.scss */
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 510, ../sass/style_sass.scss */
input[type="submit"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 515, ../sass/style_sass.scss */
input[type="submit"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 520, ../sass/style_sass.scss */
input[type="submit"].button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 524, ../sass/style_sass.scss */
input[type="submit"].button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 529, ../sass/style_sass.scss */
input[type="submit"].button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 537, ../sass/style_sass.scss */
input[type="reset"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 557, ../sass/style_sass.scss */
input[type="reset"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 562, ../sass/style_sass.scss */
input[type="reset"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 567, ../sass/style_sass.scss */
input[type="reset"].button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 571, ../sass/style_sass.scss */
input[type="reset"].button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 576, ../sass/style_sass.scss */
input[type="reset"].button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 584, ../sass/style_sass.scss */
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 604, ../sass/style_sass.scss */
input[type="button"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 609, ../sass/style_sass.scss */
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 614, ../sass/style_sass.scss */
input[type="button"].button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 618, ../sass/style_sass.scss */
input[type="button"].button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 623, ../sass/style_sass.scss */
input[type="button"].button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 631, ../sass/style_sass.scss */
input[type="email"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 643, ../sass/style_sass.scss */
input[type="email"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 649, ../sass/style_sass.scss */
input[type="number"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 661, ../sass/style_sass.scss */
input[type="number"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 667, ../sass/style_sass.scss */
input[type="search"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 679, ../sass/style_sass.scss */
input[type="search"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 685, ../sass/style_sass.scss */
input[type="text"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 697, ../sass/style_sass.scss */
input[type="text"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 703, ../sass/style_sass.scss */
input[type="tel"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 715, ../sass/style_sass.scss */
input[type="tel"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 721, ../sass/style_sass.scss */
input[type="url"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 733, ../sass/style_sass.scss */
input[type="url"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 739, ../sass/style_sass.scss */
input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 751, ../sass/style_sass.scss */
input[type="password"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 757, ../sass/style_sass.scss */
textarea {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 1.5rem;
}
/* line 773, ../sass/style_sass.scss */
textarea:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 779, ../sass/style_sass.scss */
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}
/* line 791, ../sass/style_sass.scss */
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 797, ../sass/style_sass.scss */
label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
/* line 801, ../sass/style_sass.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* line 808, ../sass/style_sass.scss */
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

/* line 814, ../sass/style_sass.scss */
fieldset {
  padding: 0;
  border-width: 0;
  margin-bottom: 1.5rem;
}

/* line 820, ../sass/style_sass.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 824, ../sass/style_sass.scss */
input[type="radio"] {
  display: inline;
}

/* line 828, ../sass/style_sass.scss */
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
/* line 833, ../sass/style_sass.scss */
ul ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
  display: inline-block;
}
/* line 838, ../sass/style_sass.scss */
ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
  display: inline-block;
}

/* line 845, ../sass/style_sass.scss */
ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
/* line 850, ../sass/style_sass.scss */
ol ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
  display: inline-block;
}
/* line 855, ../sass/style_sass.scss */
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
  display: inline-block;
}

/* line 862, ../sass/style_sass.scss */
li {
  margin-bottom: 1rem;
  display: inline-block;
}

/* line 867, ../sass/style_sass.scss */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

/* line 878, ../sass/style_sass.scss */
pre {
  margin-bottom: 2.5rem;
}
/* line 880, ../sass/style_sass.scss */
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* line 887, ../sass/style_sass.scss */
th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
/* line 891, ../sass/style_sass.scss */
th:first-child {
  padding-left: 0;
}
/* line 894, ../sass/style_sass.scss */
th:last-child {
  padding-right: 0;
}

/* line 899, ../sass/style_sass.scss */
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
/* line 903, ../sass/style_sass.scss */
td:first-child {
  padding-left: 0;
}
/* line 906, ../sass/style_sass.scss */
td:last-child {
  padding-right: 0;
}

/* line 911, ../sass/style_sass.scss */
input {
  margin-bottom: 1.5rem;
}

/* line 915, ../sass/style_sass.scss */
blockquote {
  margin-bottom: 2.5rem;
}

/* line 919, ../sass/style_sass.scss */
dl {
  margin-bottom: 2.5rem;
}

/* line 923, ../sass/style_sass.scss */
figure {
  margin-bottom: 2.5rem;
}

/* line 927, ../sass/style_sass.scss */
table {
  margin-bottom: 2.5rem;
}

/* line 931, ../sass/style_sass.scss */
form {
  margin-bottom: 2.5rem;
}

/* line 935, ../sass/style_sass.scss */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

/* line 941, ../sass/style_sass.scss */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

/* line 947, ../sass/style_sass.scss */
.u-pull-right {
  float: right;
}

/* line 951, ../sass/style_sass.scss */
.u-pull-left {
  float: left;
}

/* line 955, ../sass/style_sass.scss */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

/* line 962, ../sass/style_sass.scss */
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* line 974, ../sass/style_sass.scss */
.arrow_top a {
  position: fixed;
  bottom: 80px;
  right: 40px;
  color: #444444;
  text-decoration: none;
  transition: color .2s;
}
/* line 982, ../sass/style_sass.scss */
.arrow_top a:hover {
  color: #79bc43;
}

/* line 987, ../sass/style_sass.scss */
.btt a {
  color: #444444;
  text-decoration: none;
  transition: color .2s;
}

/* line 994, ../sass/style_sass.scss */
#logo img {
  float: left;
  padding: 20px 20px 0 20px;
}

/* line 999, ../sass/style_sass.scss */
div#navmenu {
  color: #444444;
  font-size: 16px;
  font-weight: 500;
  padding: 80px 25px;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

/* line 1009, ../sass/style_sass.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}
